.skills--single {
  @include small_text;
}

.wrap--single li img {
  margin-bottom: 1em;
}

.wrap--single p img {
  max-width: 100%;
  height: auto;
}

.wrap--single {
  .container {
    max-width: $content_width_small;
    @include media_600 {
      max-width: none;
    }

    &.container--single {
      overflow: visible;
    }
  }
}

.wrap--single ul + h3,
.wrap--single p + h3 {
  margin-top: 1.5em;

  @include media_600 {
    margin-top: 2em;
  }
}

.picture {
  display: flex;
  justify-content: center;
  background: $gray1;
  border: 1px solid $gray5;
  border-width: 1px 0 1px 0;
  padding: 40px 0 30px;
  margin: 2em 0 4em;
  @include media_1400 {
    padding-left: $content_margin_mobile;
    padding-right: $content_margin_mobile;
    flex-wrap: wrap;
  }
  @include media_600 {
    justify-content: space-between;
    margin-bottom: 2.5em;
    padding-bottom: 0;
  }
}

.container + .picture {
  margin-top: -0.25em;
}

.picture li {
  padding: 0 25px;
  @include legend;
  @include media_1300 {
    margin-bottom: 30px;
  }
  @include media_768 {
    max-width: 161px;
  }
  @include media_600 {
    padding: 0;
    width: 50%;
  }
}

.picture li:before {
  display: none;
}

.wrap--single {
  p {
    margin-bottom: 0.85em;

    code {
      padding: 0px 6px;
      color: $red;
      background-color: $gray95;
      border-radius: 2px;
    }
  }

  blockquote {
    color: $black2;
    margin: 1.5em 0 2em;
    padding: 1em 1em 1em 1.5em;
    border-left: 8px solid $red;
    position: relative;
    background: $gray1;
  }

  h2 {
    margin: 1.5em 0 0.5em;
  }

  figure {
    margin: 0 0 1.75em;

    .video-wrap,
    .image-wrap {
      width: 96vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -48vw;
      margin-right: -48vw;

      @include media_1024 {
        width: 100vw;
        margin-left: -50vw;
        margin-right: -50vw;
      }

      img {  
        display: block;
        margin: 2em auto 0.5em;
        max-width: 1325px;
        box-sizing: border-box;
        outline: 1px solid $gray5;
        max-width: calc(100% - 40px);

        &.fullwidth {
          @include media_600 {
            max-width: 100%;
          }
        }

        @include media_600 {
          max-width: 100%;
          outline: none;
        }
      }
    }

    .video-wrap {
      background: $gray1;
      padding: 2px 0;

      width: 100vw;
      margin-left: -50vw;
      margin-right: -50vw;

      video {  
        margin: 0 auto;
        max-width: 900px;
        box-sizing: border-box;
        display: block;

        @include media_960 {
          max-width: 100%;
        }
      }
    }

    figcaption { 
      font-size: 16px;
      color: $black4;

      @include media_600 {
        font-size: 14px;
      }
    }

    &.video-figure {
      margin-bottom: 25px;
    }
  }
}

pre {
  border-radius: 0;
  max-width: $content_width_small;
  margin: 2em auto 2em;
  @include media_1200 {
    padding-left: $content_margin_mobile;
    padding-right: $content_margin_mobile;
  }
  @include media_600 {
    margin: 2em auto 2em !important;
  }
}

code[class*="language-"] span,
pre[class*="language-"] span {
  @include code;
}

code[class*="language-"],
pre[class*="language-"] {
  @include media_600 {
    line-height: 1.2 !important;
  }
}

pre[class*="language-"] {
  @include media_600 {
    padding-top: 0 !important;
  }
}

.overflow {
  overflow: hidden;
  margin-top: 1.5em;
}

.no_scrollbar {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
